
body{

margin: 0;
  }

.logo{

float right: auto;
width:250px;
}



nav {

    background: black;
    text-align: center;

}

nav ul  {
list-style: none;
 margin:0 0 15px;
 line-height: 80px;


}

nav ul li  {
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  font-size: 15px;
  padding-right: 50px;
  margin: 15px;

}

nav ul li a  {
text-decoration: none;
  color: white;

}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    }

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }




footer {

background-color: #00909E;
text-align: center;

}
footer p {
font-size: 25px;
  }

.icons ul{
  list-style: none;
   margin:0;

  }

.icons li  {
  display: inline-block;
  font-size: 25px;
  padding-right: 50px;
  margin: 15px;

}

.icons li a{
  text-decoration: none;
    color: black;

}





.grid
{
  width: 100%;
  height:auto;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 350px;


  display: grid;

  grid-template-areas:
                        "hea hea hea"
                        "main main main"
                        "foo foo foo";

  grid-template-rows: 9% 80% 10%;
  grid-template-columns: 1fr 1fr 1fr;

}

.Brickell {
width:1421px;
height: 700px;
display: grid;
}


.grid  header
{
  grid-area: hea;
   
}
.grid  main
{
  grid-area: main;


}
.grid  footer
{
  grid-area: foo;


  }
